.CLT_cart_row1 {
    margin-top: 60px;
    height: auto;
}

.CLT_cart_row2 {
    top: 0px;
    margin: 0px;
    padding: 0px;
    height: auto;
}

.CLT_cart_row2_1 {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CLT_cart_row2_1 img {
    width: 80%;
    height: 70%;
}

.BTB_cart_row12 div h2 {
    text-align: center;
    color: white;
    font-family: "Abel", sans-serif;
    font-size: 80%;
    margin-top: 0px;
}

.CLT_cart_row2_1 h2 {
    color: white;
    font-size: 20px;
    font-family: "Abel", sans-serif;
    margin-top: 5px;
}

input[type="date"],
input[type="time"] {
    background-color: grey;
}

/* ======================== */
.CLT_cart_row2_2 {
    /* display: flex; */
    justify-content: center;
    align-content: center;
}

.CLT_cart_row2_2 .CLT_cart_row2_2_div {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    width: 100%
        /* align-items: center; */
}


.CLT_cart_row2_3 {
    /* margin-top: 4%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-content: center; */
}

label {
    color: orange;
    font-size: 16px;
}

h4,
h5,
h6 {
    color: orange;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 22px;
}

.CLT_cart_row2_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    padding: 3%;
}

.form-control {
    background-color: black;
    color: orange !important;
    width: 100% !important;
}


.form-control:focus {
    color: orange;
    background-color: black;
}

.p-4 {
    padding: 4px !important;
}



label.required:after {
    content: '*';
    color: green;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.success,
.green {
    color: green !important;
}

.error,
.danger {
    color: red;
}

.status_text {
    font-family: "Abel", sans-serif;
}


.candle-div .customslide .slide-content {
    padding: 2px !important;
}

/* =========================================================================== */
@media(max-width:320px) {
    .form-control {
        padding: 2%;
    }

    .CLT_cart_row2_3 {
        /* display: flex; */
        justify-content: center;
    }

}

@keyframes fadeInUpdate {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.price-updated {
    animation: fadeInUpdate 0.5s ease-out;
}