* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

/* body{
    background-color: black;
} */



li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 1rem;
}

.navbar {
    background-color: black;
    width: 100%;
    height: 50px;
    position: absolute;
    max-width: 100%;
    margin: 0 auto;
    left: 0px;
    padding-top: 0px;
    display: flex;
    align-items: unset;
    justify-content: space-between;
    border-bottom: 5px solid orangered;
    z-index: 2000;
}

.navbar-web {
    background-color: black;
    width: 100%;
    height: 40px;
    position: absolute;
    max-width: 100%;
    margin: 0 auto;
    left: 0px;
    padding-top: 0px;
    display: flex;
    align-items: unset;
    justify-content: space-between;
    border-bottom: 2px solid orangered;
    z-index: 2000;
}


.navbar .links {
    display: flex;
    gap: 2rem;
}

.hero {
    padding-top: 5px;
    display: flex;
    gap: 4.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
}


.navbar .toggle_btn {
    color: white;
    font-size: 1rem;
    display: none;
}



/* ====================
 */

.action_btn {
    padding: .5em 1.5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.0px;
    font-weight: 500;
    color: #ffffff;
    background-color: orange;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-weight: bolder;

}

.action_btn:hover {
    background-color: orange;
    box-shadow: 0px 2px 10px rgb(202, 149, 50);
    color: #fff;
    transform: translateY(-3px);
}

.action_btn:active {
    transform: translateY(-1px);
}



.button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: orange;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: orange;
    box-shadow: 0px 2px 10px rgb(202, 149, 50);
    color: #fff;
    transform: translateY(-3px);
}

.button:active {
    transform: translateY(-1px);
}

.cartLink {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
}

.barLink {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding-right: 50px;
    padding-left: 50px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
}

/* ============================= */


/* dropdown===== */

.dropdown_menu {
    display: none;
    position: absolute;
    /* right: 20px;
    left: 10px; */
    top: 50px;
    /* width: 100%; */
    width: 90%;
    background-color: black;
    /* backdrop-filter: blur(15px); */
    border-radius: 10px;
    overflow: hidden;
    /* border-top: unset;
    
    border-left: 2px solid orangered; */

    height: 0;
    transition: heigth 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.open {
    height: 500vh;

}

.dropdown_menu .button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logoCenterImg {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 4px solid orangered;
}


@media (max-width: 1100px) {
    .hero {
        display: none;
    }

    .action_btn {
        display: none;

    }

    .logoCenterImg {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        border: 4px solid orangered;
    }

    .navbar .toggle_btn {
        /* display: block; */
        /* width: 10%; */
    }

    .dropdown_menu.open {
        height: 90vh;
        z-index: 1000;
        border-bottom: 4px solid orangered;
        border-right: 4px solid orangered;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 768px) {
    .mob-font-14 {
        font-size: 14px;
    }
}


.w-20 {
    width: 20%;
}

.w-40 {
    width: 40%;
}

.w-40 {
    width: 40%;
}


/* @media (max-width: 400px) {
    .navbar .logo a {
        font-size: 1rem;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }

    .dropdown_menu .button {
        color: #fff;
        width: 50vw;

    }

    .dropdown_menu.open {
        height: 100vh;
        z-index: 1000;
    }

    .dropdown_menu.open {
        height: 100vh;
    }

    .navbar .toggle_btn {
        font-size: 1rem;

    }

} */


/* ==================================================================mobile view */


/* @media(max-width:320px) {
    .navbar {
        height: 50px;
        width: 100%;
    }

    .dropdown_menu.open {
        height: 100vh;
        z-index: 1000;
    }

    .dropdown_menu {
        left: 130px;
        width: 180px;

    }

    .dropdown_menu li a {
        font-size: 10px;
     }

    .button {
        width: 25%;
        height: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
    }

    .navbar .logo a img {
        width: 30px;
    }


} */