@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.quicklink {
    /* background-image: url("../image/site/login.jpg"); */
    margin: 20px;
}



.quicklink h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 400%;
    color: orange;
}



.quicklink ul li,
.quicklink p {
    letter-spacing: 0.08cm;
    line-height: 1cm;
    font-family: "Abel", sans-serif;
}

.quicklink h5 {
    color: white;
    letter-spacing: 0.1cm;
    line-height: 1cm;
    font-family: "Abel", sans-serif;
}

@media(min-width:990px) {
    .quicklink .fs-20{
        font-size: 20px;
    }

    .quicklink .eachDiv{
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 60px;
        font-size: 20px;
        text-align: center;
    }

    .quicklink h2 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 400%;
        color: orange;
        font-size: 36px;
    }
}


@media(max-width:990px) {
    .quicklink {
        margin: 2px;
    }


    .quicklink h2 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 400%;
        color: orange;
        font-size: 32px;
    }

    .quicklink .eachDiv{
        margin-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 16px;
        text-align: center;
    }
}