@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.reservation_row1{
    height: 0%;
  
}
@media(max-width:600px) {
    .reservation_row1{
        height: 20vh;
      
    }
    .home_row2_1 h1{
        font-size: 40px;
    }
}
@media(max-width:400px) {
    .reservation_row1{
        height: 20vh;
      
    }
    .home_row2_1 h1{
        font-size: 40px;
        font-family: 'Black Ops One', system-ui;
    }
}
@media(max-width:320px) {
    .reservation_row1{
        height: 15vh; 
    }
    .home_row2{
      margin-top: 30%;
      
    }
    .home_row2_1 h1{
        font-size: 40px;
        
        
        
    }
}




body {
  background-color: black;
}


.home_row1 {
  background-color: white;
  height: 80px;
  border-bottom: 100% orange;
  width: 100%;
}

.home_col1 {
  height: 91vh;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}

.home_col1 h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 500%;
}

.home_col1 h1 span {
   font-family: "Bebas Neue", sans-serif;

}

/* ================================== */
.home_action_btn {
  --color: orange;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  left: -28%;
  top: 3%;
}

.home_action_btn::before,
.home_action_btn::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.home_action_btn::before {
  top: -1em;
  left: -1em;
}

.home_action_btn::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.home_action_btn:hover::before,
.home_action_btn:hover::after {
  height: 410px;
  width: 410px;
}

.home_action_btn:hover {
  color: rgb(255, 255, 255);
}

.home_action_btn:active {
  filter: brightness(.8);
}


/* =========================================== */

.home_col2 {
  background-color: rgba(255, 166, 0, 0.875);
  /* background-image: url('https://transform-cf1.nws.ai/https%3A//cdn.thenewsroom.io/platform/story_media/1288820281/1203988866.jpg/w_1200,c_limit/');
    background-repeat: no-repeat;
    background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.home_col2 h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 400%;
  color: white;
}

.home_col2 div {

  display: flex;
  justify-content: center;
  align-items: center;

}

.home_col2_1 img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  animation: rotateAnimation 10s infinite linear;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.home_col2_2 {
  display: flex;
  justify-content: center;

}

.home_col2_2 div {
  
  width: 7vw;
  height: 40vh;
  background-color: rgb(255, 166, 0);
  border-radius: 25px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;


}

.home_col2_2 div img {
  height: 100px;
  width: 100px;
  border-radius: 100%;

}


.home_col2_2 div img:active {
  transform: scale(1.2);
}


/* =======================================================*/


@media (max-width: 600px) {
  .home_col2 {
    display: none;
  }

}

@media (max-width: 1150px) {
  .home_col2 {
    display: none;
  }

}

@media (max-width: 1250px) {
  .home_col2 h1 {

    font-size: 300%;

  }

}


/* =======================================================================second row */
.home_row2 {
  /* height: 70vh; */
  background-color: black;
 
}

.home_row2_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 3%; */
}

.home_row2_1 h1, .reservation-div h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 500%;
  color: white;
  position: relative;
  /* top: -10%; */
}

.home_row2_1 h4 {
  /* font-family: 'Dancing Script', cursive; */
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  /* margin-top: 20%; */
  color: orange;
}

.home_row2_1 h5 {
  font-family: "Bebas Neue", sans-serif;
  color: orange;
}

.home_row2_1 div {
  justify-content: center;
  align-items: center;
}
.home_row2_1 h6{
  text-align: center;
  color: white;
  letter-spacing: 1px;

}

.img1 {
  width: 170px;
  height: 400px;
}

.img2 {
  width: 320px;
  height: 320px;
  /* border-radius: 25px; */
  border: 2px solid;
  border-radius: 50px;
  border-color: orangered;
}

/* =====================================================================button */

.home_action2_btn {
  --color: orange;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  top: 10px;
  margin-bottom: 20px;
}

.home_action2_btn::before,
.home_action2_btn::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.home_action2_btn::before {
  top: -1em;
  left: -1em;
}

.home_action2_btn::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.home_action2_btn:hover::before,
.home_action2_btn:hover::after {
  height: 410px;
  width: 410px;
}

.home_action2_btn:hover {
  color: rgb(255, 255, 255);
}

.home_action2_btn:active {
  filter: brightness(.8);
}

/* ======================================================== */


.home_row2_2 {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  padding: 3%;

}

.home_row2_2 h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 400%;
  color: orange;
  position: relative;
  top: -10%;
}

.home_row2_2 h6{
  text-align: center;
  color: white;
  letter-spacing: 1px;

}


.home_row2_2 h4 {
  font-family: "Abel", sans-serif;
  font-size: 30px;
  margin-top: 5%;
  color: orange;
}

.home_row2_2 div {
  justify-content: center;
  align-items: center;
}


.home_row2_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%;

}

.home_row2_3 h4 {
  font-family: "Abel", sans-serif;
  font-size: 30px;
  margin-top: 5%;
  color: orange;
}

.home_row2_3 div {
  justify-content: center;
  align-items: center;
}

/* ====================================================================== */

@media (max-width: 980px) {
  .home_row2_2 h1 {
    display: none;
  }

  .home_row2_2 {

    margin-top: -10%;
  }

  .home_row2_3 {
    margin-top: 10%;

  }
}


@media (max-width: 650px) {
  .home_row2_3 {
    margin-top: 20%;

  }
}




/* =======================================================================
 */


.home_row2_3 h6{
  text-align: center;
  color: white;
  letter-spacing: 1px;

}


@media (max-width: 1000px) {

  .home_row2_2{
    margin-top: 27%;
  }
}

@media (max-width: 600px) {


.home_row2_2{
  margin-top: 10%;
}

}










/* ==================================================mobile response ========================================= */

@media(max-width:320px) {

  .home_row1 {
    height: 5%;
  }

  .home_col1 {
    height: 100vh;

  }

  .home_col1 h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 300%;
  }

  .home_action_btn {
    font-weight: 400;
    font-size: 10px;
  }

  .home_row2 {
    width: 100vw;
    margin-bottom: 250%;
  }

  .home_row2_1 h1 {
    font-family: 'Black Ops One', system-ui;
    font-size: 200%;
    top: -10%;
    color: orange;
  }

  .img1 {
    width: 100%;
    height: 50vh;
    
  }

  .img2 {
    width: 80%;
    height: 40%;
   
  }

  .home_row2_1 h4 {
    font-size: 20px;
  }

  .home_row2_2 h4 {
    font-size: 20px;
  }

  .home_row2_3 h4 {
    font-size: 20px;
  }

  .home_action2_btn {

    font-weight: 400;
    font-size: 10px;
  }

  /* ======== */
  
 
/* =============== */

}