  /* Media query for mobile screens (max-width 768px) */
  @media (max-width: 768px) {
      .home-div .responsive-image {
          height: 50vh !important;
          /* Adjust height to 50vh on mobile devices */
      }

      .home-div .mob-hide {
          height: 50vh !important;
          /* Adjust height to 50vh on mobile devices */
      }

      .reservation-div .responsive-image {
          height: 75vh !important;
          width: 98% !important;
          /* Adjust height to 50vh on mobile devices */
      }

      .nav_bar {
          display: block;
          margin-bottom: 40px;
      }

  }

  .home-div .slick-list {
      border: 10px solid;
      border-radius: 50px;
      border-color: orangered;
  }

  .footet-logo-image {
      width: 300px;
      height: 300px;
  }

  @media (max-width: 768px) {


      .candle-div label {
          margin-top: 10px;
      }

      .mob-ms-10 {
          margin-top: 10px !important;
      }

      .mob-ms-20 {
          margin-top: 20px !important;
      }

      .mob-mt-10 {
          margin-top: 10px !important;
      }

      .mob-mt-20 {
          margin-top: 20px !important;
      }

      .mob-mt-40 {
          margin-top: 40px;
      }

      .mob-mt-80 {
          margin-top: 80px;
      }

      .mob-mt-90 {
          margin-top: 90px;
      }

      .mob-mt-100 {
          margin-top: 100px;
      }

      .mob-mt-110 {
          margin-top: 110px;
      }

      .mob-mt-120 {
          margin-top: 120px;
      }

      .mob-mt-140 {
          margin-top: 140px;
      }

      .mob-mb-20 {
          margin-bottom: 20px !important;
      }

      .mob-mb-40 {
          margin-bottom: 40px !important;
      }

      .mob-mt-80 {
          margin-top: 80px !important;
      }

      .mob-mb-100 {
          margin-bottom: 100px !important;
      }

      .mob-p-fixed {
          position: fixed;
      }

      .mob-p-relative {
          position: relative;
      }

      .mob-sidebar-content {
          height: 0vh;
          position: relative;
          z-index: 1000;
      }

      .mob-sidebar-content.show {
          height: 20vh;
          z-index: 1000;
          position: relative;
          background-color: black;
          display: block;
      }

      .mob-sidebar-content.hide {
          height: 0vh;
      }

      .mob-sidebar_three {
          margin-top: 10px;
          height: 5vh;
          display: flex;
          justify-content: center;
          align-content: center;
      }
  }


  /* Desktop   */
  @media (min-width: 768px) {
      .sidebar-body .logo-image {
          height: 25vh !important;
          width: 60%;
          /* background-color: #f0f0f0; */
          border-radius: 50%;
      }

      .home-div .home_image_center {
          top: 50%;
          left: 50%;
          /* background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          background-attachment: fixed;
          background-color: #f0f0f0; */
      }
  }

  .black {
      color: black;
  }

  .green {
      color: green;
  }

  .aqua {
      color: aqua;
  }

  .blue {
      color: blue;
  }

  .darkgreen {
      color: darkgreen;
  }

  .darkred {
      color: darkred;
  }

  .white {
      color: white !important;
  }

  .orange {
      color: orange !important;
  }

  .grey {
      color: grey !important;
  }

  .red,
  .error {
      color: red;
  }

  .orangered {
      color: orangered;
  }


  .fade,
  .hide {
      height: 0vh;
      display: none;
  }

  .show,
  .display {
      display: block;
  }

  .text-center {
      text-align: center !important;
  }


  .web-sidebar-content {
      height: 100vh;
      position: fixed;
      z-index: 2;
  }

  .breadcrums {
      font-size: 15px;
      color: grey;
      text-decoration: underline;
  }

  .breadcrums-active {
      padding-top: 2px;
      font-size: 14px;
      color: blue;
  }

  .fs-20 {
      font-size: 20px;
  }

  .instagram-gradient {
      /* display: inline-block; */
      color: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
      /* -webkit-background-clip: text; */
      /* -webkit-text-fill-color: transparent; */
  }